
#projects{
    padding:80px;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}
.project-card{

    background:#172554;

    padding:30px;

    border-radius:20px;

    position:relative;

    overflow:hidden;

    transition:.5s;

    cursor:pointer;

}

.project-card::after{

    content:"";

    position:absolute;

    top:0;

    left:-150%;

    width:60%;

    height:100%;

    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.5),
        transparent
    );

    transform:skewX(-25deg);

}

.project-card:hover::after{

    animation:shine .8s linear;

}

@keyframes shine{

    from{
        left:-150%;
    }

    to{
        left:180%;
    }

}

.project-card:hover{

    transform:translateY(-10px) scale(1.03);

    box-shadow:0 15px 35px rgba(37,99,235,.5);

}

.project-image{

    width:90px;

    height:90px;

    background:#2563eb;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:45px;

    margin:auto;

    margin-bottom:20px;

    transition:.4s;

}

.project-card:hover .project-image{

    transform:rotate(10deg) scale(1.1);

}

.project-card h2{

    text-align:center;

    color:#3b82f6;

}

.project-card p{

    text-align:center;

    color:#ddd;

}

.tech-stack{

    text-align:center;

    margin:20px 0;

}

.tech-stack span{

    display:inline-block;

    background:#2563eb;

    color:white;

    padding:8px 15px;

    margin:5px;

    border-radius:20px;

}

.project-buttons{

    display:flex;

    justify-content:center;

    gap:15px;

}

.project-buttons a{

    text-decoration:none;

    background:#2563eb;

    color:white;

    padding:12px 22px;

    border-radius:8px;

}

