:root{

    --bg:#FFF6DE;

    --card:#ffffff;

    --primary:#8BDFDD;

    --secondary:#F48F68;

    --accent:#FFE394;

}
#projects{
    padding:100px 8%;
    background:#FFF6DE;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    gap:30px;
}

.project-card{

    position:relative;
    overflow:hidden;

    background:#ffffff;

    border-radius:20px;

    padding:30px;

    transition:.4s;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.project-card::before{

    content:"";

    position:absolute;

    top:0;

    left:-120%;

    width:60%;

    height:100%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.7),
        transparent
    );

    transform:skewX(-20deg);

    transition:.8s;

}

.project-card:hover::before{

    left:150%;

}

.project-card:hover{

    transform:translateY(-15px);

    box-shadow:0 20px 40px rgba(0,0,0,.2);

}

.project-image{

    width:90px;

    height:90px;

    margin:auto;

    background:#8BDFDD;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:42px;

    margin-bottom:20px;

}

.project-card h2{

    color:#F48F68;

    text-align:center;

    margin-bottom:15px;

}

.project-card p{

    text-align:center;

    color:#444;

    line-height:28px;

}

.tech-stack{

    margin-top:20px;

    text-align:center;

}

.tech-stack span{

    display:inline-block;

    margin:5px;

    padding:8px 16px;

    background:#FFE394;

    border-radius:20px;

    color:#333;

    font-size:14px;

    font-weight:bold;

}

.project-buttons{

    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:25px;

}

.project-buttons a{

    text-decoration:none;

    padding:12px 22px;

    background:#F48F68;

    color:white;

    border-radius:8px;

    transition:.3s;

}

.project-buttons a:hover{

    background:#8BDFDD;

    color:black;

}